* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
}

.card {
  width: 250px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 16px;
  margin: 16px;
}

h2 {
  font-size: 25px;
  margin-bottom: 8px;
  color: #333;
}

p {
  font-size: 15px;
  color: #424141;
}

/* footer */

footer {
  background-color: #7797b4;
  text-align: center;
  padding-top: 20px;
  position: relative;
  bottom: 0;
  width: 100%;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}
footer .col a {
  margin: 0 15px;
  color: #e4e4e4;
  text-decoration: none;
  transition: color 0.3s;
}
footer .col a:hover {
  color: #010203;
}
footer .fa-2x {
  vertical-align: middle;
}

.textContacto {
  text-align: center;
  color: white;
}
* {
  box-sizing: border-box;
}

.form {
  font-size: 15px;
  padding: 16px;
  margin: auto;
  margin-top: 30px;
  background: #666;
  border: #383838 6px;
}

form label {
  width: 100%;
  font-weight: bold;
  display: block;
  color: white;
}

form input[type="text"],
form input[type="email"] {
  width: 100%;
  padding: 3px 10px;
  border: 1px solid #f6f6f6;
  border-radius: 3px;
  background-color: #f6f6f6;
  margin: 8px 0;
  display: block;
}
form input[type="submit"] {
  width: 100%;
  padding: 8px 16px;
  margin-top: 32px;
  border: 2px solid #ffffff;
  border-radius: 5px;
  display: block;
  color: #fff;
  background-color: #0c0c0c;
}
form input[type="submit"]:hover {
  cursor: pointer;
  background-color: grey;
}

textarea {
  width: 100%;
  height: 100px;
  border: 1px solid #f6f6f6;
  border-radius: 3px;
  background-color: #f6f6f6;
  margin: 8px 0;
  resize: none;
  display: block;
}

.check {
  display: flex;
}
.checkBox {
  width: 100%;
  padding: 10px;
}
