
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  background-color: #f0f0f0;
}

.card {
  width: 250px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 16px;
  margin: 16px;
}

h2 {
  font-size: 20px;
  margin-bottom: 3px;
  color: #333;
}

p {
  font-size: 14px;
  color: #666;
}

.button-up {
  position: sticky;
  width: 60px;
  height: 60px;
  top: 90%;
  left: 90%;
  transform: rotate(270deg);
  background-color: #202121;
  border-radius: 50%;
  transition: 300ms;
  margin-bottom: 10px;
}
.button-up a {
  position: absolute;
  text-decoration: none;
  color: aliceblue;
  padding: 10px;
  top: 5px;
  left: 10px;
}
.button-up:hover {
  transition: 300ms;
  border-radius: 5px;
}

footer {
  background-color: #7797b4;
  text-align: center;
  padding-top: 20px;
  width: 100%;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}
footer .col a {
  flex-direction: column;
  margin: 0 4px;
  color: #ffffff;
  text-decoration: none;
  transition: color 0.3s;
}
footer .col a:hover {
  color: #010203;
}
footer .fa-2x {
  vertical-align: middle;
}

h6 {
  font-size: 11px !important;
}

.row {
  color: #252526;
  font-size: 16px;
  font-weight: bold;
}

#crearProductoBtn {
  background-color: #e4e4e4;
  color: rgb(0, 0, 0);
  padding: 12px 24px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

#crearProductoBtn:hover {
  background-color: #c4c5a0;
}

#crearProductoBtn:focus {
  outline: none;
}

#crearProductoBtn:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.btn-secondary {
  display: flex;
  margin: 15px;
  justify-content: center;
}

#username {
  text-align: center;
}
