* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
}

/* footer */

footer {
  background-color: #7797b4;
  padding: 20px 0;
  text-align: center;
  position: relative;
  bottom: 0;
  width: 100%;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}
footer .col a {
  margin: 0 15px;
  color: #e4e4e4;
  text-decoration: none;
  transition: color 0.3s;
}
footer .col a:hover {
  color: #010203;
}
footer .fa-2x {
  vertical-align: middle;
}
